<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VARIABLE</title>
</head>
<body>
    <h1>VARIABLE.HTML</h1>
    <h2>Are you {{ first_name }}?</h2>
    <h2>{{ last_name }} {{ first_name }}</h2>
    <h2>{{ some_list.0 }}</h2> <!-- some_list의 0번째 인데스 값 1 -->
    <h2>{{ some_dict.inside_key }}</h2>
    <h2>{# 주석 입니다:) #}</h2>
</body>
</html>