<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VARIABLE</title>
</head>
<body>
    <h1>VARIABLE.HTML</h1>
    <h2>Are you {{ first_name | upper }}?</h2>
    <h2>{{ last_name | lower | capfirst }} {{ first_name | lower | capfirst }}</h2>
    <h2>{{ some_list.0 }}</h2> <!-- some_list의 0번째 인데스 값 1 -->
    <h2>{{ some_dict.inside_key | length }}</h2>
    <h2>{# 주석 입니다:) #}</h2>
    <!-- For Loops -->
    <h1>태그 : For Loops</h1>
    <ul>
        {% for i in some_list %}
            <li>
                {{ i }}
            </li>
        {% endfor %}
    </ul>

    <ul>
        {% for k, v in some_dict.items %}
            <li>
                key : {{ k }}, value : {{ v }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>